<div id='foyer_ruby_hover'>
</div>

<div id='foyer_mainhouse_hover'>
</div>

<div id='foyer_basement_hover'>
</div>

<div id='foyer_default'>
<%=image_tag ('foyer/foyer.png'), id: 'foyer'%>
</div>

<div id='foyer_1024'>
<%=image_tag ('foyer/foyer_1024.png'), id: 'foyer'%>
</div>

<%=image_tag ('foyer/foyer_ruby_highlight.jpg'), id: 'foyer_ruby_highlight'%>
<%=image_tag ('foyer/foyer_basement_highlight.jpg'), id: 'foyer_basement_highlight'%>
<%=image_tag ('foyer/foyer_mainhouse_highlight.jpg'), id: 'foyer_mainhouse_highlight'%>

<%= audio_tag('door_locked.mp3', id: 'locked')%>
<%= audio_tag('unlock.mp3', id: 'unlock')%>