  <div id='home_banner'>
    <div id='banner_type'>
      <h1 id='banner_head'>The <span id='banner_rails'>Rails</span> House</h1> <span id='home_nav'><a style='display:inline'>sign up</a> &nbsp <a style='display:inline'>sign in</a></span>
    </div>
  </div>

  <div id='train_lights_button'>
  </div>

  <%=image_tag ('splash_train_lights.png'), id: 'train_lights_on'%>

  <%=image_tag ('splash_light_dim.jpg'), id: 'home_back_dim'%>

  <%=image_tag ('splash_light_mid.jpg'), id: 'home_back_mid'%>

  <%=image_tag ('splash_light.jpg'), id: 'home_back_light'%>

  <%=image_tag ('splash.jpg'), id: 'home_back'%>

  <div class='left'>
    <%=image_tag ('splash_left_rail.jpg'), id: 'home_left'%>
  </div>

  <%=image_tag ('splash_right_rail.jpg'), id: 'home_right'%>

  <%=image_tag ('splash_empty_window.jpg'), id: 'home_empty'%>

  <%= audio_tag('railroad_crossing.mp3', 'railroad_crossing.oog', id: 'bells')%>