  <div id='home_banner'>
    <div id='banner_type'>
      <h1 id='banner_head'>The <span id='banner_rails'>Rails</span> House</h1> <span id='home_nav'><a style='display:inline'>sign up</a> &nbsp <a style='display:inline'>sign in</a></span>
    </div>
  </div>

  <%=image_tag ('splash_light_dim.png'), id: 'home_back_dim'%>

  <%=image_tag ('splash_light_mid.png'), id: 'home_back_mid'%>

  <%=image_tag ('splash_light.png'), id: 'home_back_light'%>

  <%=image_tag ('splash.png'), id: 'home_back'%>

  <%=image_tag ('splash_left_rail.png'), id: 'home_left'%>

  <%=image_tag ('splash_right_rail.png'), id: 'home_right'%>

  <%= audio_tag('railroad_crossing.mp3', id: 'bells')%>